traefik/*
!traefik/docker-compose.yml
!traefik/Dockerfile

filebrowser/*
!filebrowser/docker-compose.yml
!filebrowser/Dockerfile

heimdall/*
!heimdall/docker-compose.yml

nextcloud/*
!nextcloud/docker-compose.yml

jellyfin/*
!jellyfin/docker-compose.yml

transmission/*
!transmission/docker-compose.yml

homeassistant/*
!homeassistant/docker-compose.yml

shared/*